.root{
    -texts-borders-color-win: #2b8a3e;
    -texts-borders-color-lose: #c92a2a;
    -texts-borders-color-pick: rgb(25, 113, 194);
    -text-fill-color-main: #f08c00;
    -background-color-main: #fff9db;
    -background-color-lose: #ffe3e3;
    -background-color-win: #ebfbee;
    -background-color-pick: #e7f5ff;
    -default-color: rgb(233,236,239);
    -text-fill-color: rgb(33,37,41);
    -empty-border-color: rgb(33,37,41);
}

.main-text{
    -fx-text-fill: -text-fill-color-main;
}

.body{
    -fx-background-color: -background-color-main;
}

.button-delete,
.button-pick,
.button-add{
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-border-width: 2px;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.button-delete{
    -fx-background-color: -background-color-lose;
    -fx-border-color: -texts-borders-color-lose;
    -fx-text-fill: -texts-borders-color-lose;
}

.button-pick{
    -fx-background-color: -background-color-pick;
    -fx-border-color: -texts-borders-color-pick;
    -fx-text-fill: -texts-borders-color-pick;
}

.button-add{
    -fx-background-color: -background-color-win;
    -fx-border-color: -texts-borders-color-win;
    -fx-text-fill: -texts-borders-color-win;
}

/* fancy-listview.css */

.list-view {
    -fx-background-color: #f0f0f0; /* Set background color */
}

.list-cell {
    -fx-background-color: #ffffff; /* Set cell background color */
    -fx-border-color: #d3d3d3; /* Set border color */
    -fx-border-width: 0 0 1 0; /* Set bottom border only */
    -fx-padding: 10; /* Set padding */
}

.list-cell:hover {
    -fx-background-color: #e0e0e0; /* Set hover background color */
}

.list-cell:selected {
    -fx-background-color: #b8daff; /* Set selected cell background color */
    -fx-border-color: #73a8f9; /* Set selected cell border color */
}

/* Customize the text color */
.list-cell .label {
    -fx-text-fill: #333333;
}

/* Add a subtle shadow effect on hover */
.list-cell:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 5, 0, 0, 1);
}

